#game-container.flipping {
  animation: fadeOutIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#poke-input {
  margin-top: 16px;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

flip-card {
  display: block;
  margin: 12px auto;
}

#dt-mode-btn:is(.active) {
  background: #ffe78a !important;
}

@media (orientation:portrait) {
  flip-card {
    margin: 8px auto;
  }
}

@media (orientation:landscape) and (max-height:600px) {
  flip-card {
    margin: 6px auto;
  }
}