<div id="container">
    <div id="game-container" [class.flipping]="modeSelected">
        <div id="game-title">Who is that Pokémon?</div>
        <div id="game-instructions">Try to guess the Pokémon!</div>
        @if (!modeSelected) {
            <div id="mode-config">Select Mode</div>
            <div id="mode-selection">
                <button class="config-btn" (click)="selectMode('1gen')">1 Generation</button>
                <button class="config-btn" (click)="selectMode('classics')">Classics (Generations 1, 2 & 3)</button>
                <button class="config-btn" (click)="selectMode('all')">All Generations</button>
                <button class="config-btn" (click)="selectMode('daily')">Daily Pokémon</button>
            </div>
        } @else {
            <flip-card #flipCard [autoLoad]="true" [size]="cardSize" [showPokeName]="false" [selectedMode]="selectedMode"></flip-card>
            <input-auto id="poke-input" [pokemonNames]="pokeNames" (onSelect)="pokemonSelected($event)"></input-auto>
            @if (!isResultVisible) {
                <button id="submit-btn" (click)="submitGuess()" [disabled]="flipCard.isRevealing() || noGuess">Submit Guess</button>
                <button id="skip-btn" (click)="skipGuess()" [disabled]="flipCard.isRevealing()">Skip Guess</button>
            } @else {
                <button id="next-btn" (click)="resetPokemon()" [disabled]="flipCard.isRevealing()">Next Pokémon</button>
            }
            <button id="next-btn" (click)="changeMode()" [disabled]="flipCard.isRevealing()">Change mode</button>
            <div id="result-message">{{ resultMessage }}</div>
        }
    </div>
</div>