<div id="container">
    <div id="game-container">
        <div id="game-title-container">
            <button class="return-button" (click)="return()"><mat-icon>arrow_back</mat-icon></button>
            <div id="game-title">Picross</div>
            <button class="info-button" (click)="openInstructions = true">?</button>
        </div>
        @if (!modeSelected) {
            <div id="mode-config">Select Mode</div>
            <div id="mode-selection">
                <button class="config-btn" (click)="selectMode('10x10')">10x10</button>
            </div>
            <div id="mode-selection">
                <button class="config-btn" (click)="selectMode('15x15')">15x15</button>
            </div>
            <div id="mode-selection">
                <button class="config-btn" (click)="selectMode('20x20')">20x20</button>
            </div>
        } @else {
            <picross-board [rows]="rows" [columns]="cols"></picross-board>
            <button id="mode-btn" (click)="changeMode()">Change mode</button>
        }
    </div>
</div>
