<div id="ptBoard" class="table">
  <div class="requests-side">
    <div class="request-header-spacer"></div>
    @for(requestR of board.requestsR; track $index) {
      <div class="row request-row">
        <div class="col request-col request-row-col" [class.completed-request]="requestR.isCompleted" [ngStyle]="getHintStyle(requestR.text, requestR.isCompleted)">{{ requestR.displayText }}</div>
      </div>
    }
  </div>
  <div class="guesses-side">
    <div class="row">
      <div class="col-name">
        @for (col of board.requestsC; track $index) {
          <div class="col request-col" [class.completed-request]="col.isCompleted" [ngStyle]="getHintStyle(col.text, col.isCompleted)">{{ col.displayText }}</div>
        }
      </div>
    </div>
    @for(row of board.guesses; track $index) {
        <div class="row guess-row">
          @for(col of row; track $index) {
            <div
              class="col guess-panel"
              [class.selected]="col === currentGuess"
              [class.correct]="!!col.pokemon && col.isCorrect"
              [class.incorrect]="!!col.pokemon && !col.isCorrect"
              (click)="checkForGuess(col)"
            >
              @if(col.pokemon) {
                <img [src]="col.pokemon.sprites.front_default" [alt]="col.pokemon.name" />
              }
            </div>
          }
        </div>
    }
  </div>
</div>
<input-auto #pokeInput id="poke-input" [pokemonNames]="pokeNames" (onSelect)="pokemonSelected($event)"></input-auto>