<div id="container">
    <div id="menu-container">
        <div id="menu-title">Pokémon Games</div>
        <div id="menu-description">Select a game to play</div>
        
        <div id="menu-buttons">
            <button class="game-btn" (click)="navigateTo('/who-is-that-poke')">
                <label>Who is that Pokémon?</label>
            </button>
            @if (isLargeScreen) {
                <button class="game-btn" (click)="navigateTo('/picross')">
                    <label>Picross</label>
                </button>
            }
        </div>
    </div>
</div>
