<div class="card-container">
    <div class="card" [class.is-flipped]="isFlipped()">
        <div class="card-face">
            <img src="/imgs/reverso_carta.png" class="back-template">
        </div>
        <div class="card-face card-back">
            <img src="/imgs/fondo_carta.png" class="back-template">
            <img [src]="cardInfo.imgSrc" class="back-content">
            <div class="back-text">
                <div class="name-box">
                    <div class="name-left"><img src="/imgs/name_box_l.png" alt=""/></div>
                    <div class="name-center">
                        <img src="/imgs/name_box.png" alt="" class="name-center-img"/>
                        <div class="text-display name-center-text">{{ cardInfo.title }}</div>
                    </div>
                    <div class="name-right"><img src="/imgs/name_box_r.png" alt=""/></div>
                </div>
            </div>
        </div>
    </div>
</div>