<div class="card-container" [style.width]="size">
    <div class="card" [class.is-flipped]="isFlipped()" [class.is-revealing]="isRevealing()">
        <div class="card-face card-front">
            <img src="imgs/reverso_carta.png" class="back-template">
        </div>
        <div class="card-face card-back">
            <img id="fondo-carta" [src]="fondoCarta" class="back-template">
            <img [src]="cardInfo.imgSrc" [style.width.%]="pokePorcentaje" class="back-content"
                 [class.shadowed]="isShadowed()">
            @if(showPokeName) {
                <div class="back-text">
                    <div class="name-box">
                        <div class="name-left"><img src="imgs/name_box_l.png" alt=""/></div>
                        <div class="name-center">
                            <img src="imgs/name_box.png" alt="" class="name-center-img"/>
                            <div class="text-display name-center-text">{{ cardInfo.title }}</div>
                        </div>
                        <div class="name-right"><img src="imgs/name_box_r.png" alt=""/></div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>